
  .home {
    margin: 0px auto;
    padding: 80px 40px;
    background-color: rgb(194, 145, 153);
    color: floralwhite;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  @media screen and (max-width: 768px) {

    
  }